* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ESTILOS GERAIS DO SITE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
}

/* MENU DE NAVEGAÇÃO */
nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;          
    display: flex;             
    gap: 20px;                 
}

nav a {
    color: white;
    text-decoration: none;     
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
}

/* CONTEÚDO PRINCIPAL */
main {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 10px;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    
}

ul {     margin-left: 40px;

}
p {
    margin-bottom: 15px;
}


/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* RODAPÉ */
footer {
    margin-top: 20px;
    text-align: center;
    color: #555;
}
